<plugin name='tomcat' version='1.2.0' grailsVersion='1.2 &gt; *'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme.rocher@springsource.com</authorEmail>
  <title>Apache Tomcat plugin for Grails</title>
  <description>\
Replaces Jetty with Tomcat as the default development time server for Grails
</description>
  <documentation>http://grails.org/plugin/tomcat</documentation>
  <resources />
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>