<plugin name='hibernate' version='1.2.0' grailsVersion='1.2.0 &gt; *'>
  <author>Graeme Rocher</author>
  <title>Hibernate for Grails</title>
  <description>A plugin that provides integration between Grails and Hibernate through GORM</description>
  <documentation>http://grails.org/doc/1.2.0</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.Behavior</resource>
  </resources>
  <dependencies>
    <plugin name='dataSource' version='1.1 &gt; *' />
    <plugin name='i18n' version='1.1 &gt; *' />
    <plugin name='core' version='1.1 &gt; *' />
    <plugin name='domainClass' version='1.1 &gt; *' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
    <dependency group='javassist' name='javassist' version='3.8.0.GA' conf='runtime' transitive='true' />
    <dependency group='org.hibernate' name='hibernate-core' version='3.3.1.GA' conf='compile' transitive='true'>
      <excludes group='*' name='ehcache' />
      <excludes group='*' name='xml-apis' />
      <excludes group='*' name='commons-logging' />
    </dependency>
    <dependency group='org.hibernate' name='hibernate-commons-annotations' version='3.3.0.ga' conf='compile' transitive='true'>
      <excludes group='*' name='hibernate' />
    </dependency>
    <dependency group='dom4j' name='dom4j' version='1.6.1' conf='runtime' transitive='true'>
      <excludes group='*' name='xml-apis' />
    </dependency>
    <dependency group='antlr' name='antlr' version='2.7.6' conf='runtime' transitive='true' />
    <dependency group='org.hibernate' name='hibernate-ehcache' version='3.3.1.GA' conf='runtime' transitive='true'>
      <excludes group='*' name='ehcache' />
      <excludes group='*' name='hibernate-core' />
    </dependency>
    <dependency group='org.hibernate' name='hibernate-annotations' version='3.4.0.GA' conf='compile' transitive='true' />
  </dependencies>
  <behavior>
    <method name='methodMissing' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.lang.String' />
      <argument type='java.lang.Object' />
    </method>
    <method name='validate' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='validate' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='validate' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='validate' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.util.List' />
    </method>
    <method name='methodMissing' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.lang.String' />
      <argument type='java.lang.Object' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='merge' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='merge' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='instanceOf' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.lang.Class' />
    </method>
    <method name='delete' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='delete' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='refresh' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='discard' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='attach' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='isAttached' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='lock' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='validate' artefact='Domain' type='org.grails.Behavior'>
      <description />
    </method>
    <method name='validate' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='validate' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='validate' artefact='Domain' type='org.grails.Behavior'>
      <description />
      <argument type='java.util.List' />
    </method>
    <property name='attached' type='org.grails.Behavior' artefact='Domain'>
      <description />
    </property>
    <property name='all' type='org.grails.Behavior' artefact='Domain'>
      <description />
    </property>
  </behavior>
</plugin>